<link rel="stylesheet" href="/styles/adminLogin.css" />
<div class="container">
  <h2>Admin Login</h2>
  <form action="/admin/login" method="post">
    <input type="text" id="message" value="{{{message}}}" name="message" hidden>
    <label for="username">Admin Username</label>
    <div class="input-wrapper">
      <input type="email" id="email" name="email" placeholder="Enter admin email">
    </div>

    <label for="password">Password</label>
    <div class="input-wrapper">
      <input type="password" id="password" name="password" placeholder="Enter password">
      <!-- Eye icon -->
      <svg class="toggle-password" onclick="togglePassword('password', this)" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path
          d="M12 5c-7 0-11 7-11 7s4 7 11 7 11-7 11-7-4-7-11-7zm0 12a5 5 0 110-10 5 5 0 010 10zm0-8a3 3 0 100 6 3 3 0 000-6z" />
      </svg>
    </div>

    <button type="submit">Login</button>
  </form>
  <p class="back-link">Go back to <a href="/user">User Login</a></p>
</div>

<script src="/js/adminLogin.js"></script>