<link rel="stylesheet" href="/styles/home.css">
<div class="container">
    <h1>Welcome</h1>
    <p>Select login type</p>
    <a href="/user/login" class="btn">User Login</a>
    <a href="/admin/login" class="btn">Admin Login</a>
</div>