<link rel="stylesheet" href="/styles/userLogin.css" />

<div class="container">
  <h2>Login</h2>
  <form action="/user/login" method="POST">
    <input type="text" id="message" value="{{{message}}}" name="message" hidden>
    <label for="email">Email</label>
    <div class="input-wrapper">
      <input type="email" id="email" name="email" placeholder="Enter your email" >
    </div>

    <label for="password">Password</label>
    <div class="input-wrapper">
      <input type="password" id="password" name="password" placeholder="Enter your password" >
      <!-- Eye icon -->
      <svg class="toggle-password" onclick="togglePassword('password', this)" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24">
        <path
          d="M12 5c-7 0-11 7-11 7s4 7 11 7 11-7 11-7-4-7-11-7zm0 12a5 5 0 110-10 5 5 0 010 10zm0-8a3 3 0 100 6 3 3 0 000-6z" />
      </svg>
    </div>

    <button type="submit">Login</button>
  </form>
  <p class="register-link">Don’t have an account? <a href="/user/register">Sign up</a></p>
</div>

<script src="/js/userLogin.js" defer></script>