<link rel="stylesheet" href="/styles/accessDenied.css">
<body>
  <div class="container">
    <h1>403</h1>
    <h2>🚫 Access Denied</h2>
    <p>You do not have permission to view this page.</p>
    <p>Please log out of your current session first.</p>
    <a href="/">Go Back Home</a>
  </div>
</body>
